<!DOCTYPE html>
<html>
    <head>
        <title>Post</title>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    
    <body>
        <div>
            <span>Welcome to Dove, following are the postings posted by the users:</span>
        </div>
        <div id="display">
            
        </div>
    </body>
    
    <script>
        $(document).ready(function(){
            document.getElementById("display").innerHTML = "";
            $.ajax({
                url:"../controller/posting.php",
                dataType:"json",
                type:"POST",
                data:{
                    method:"getallorders",
                },

                success:function(resp){
                    console.log(resp);
                    for(var i=0; i<resp.length; i++){
                        document.getElementById("display");
                        var h3=document.createElement("h3");
                        h3.innerHTML =resp[i].description+" | "+resp[i].destination+" | "+resp[i].currentPlace+" | "+resp[i].user_id;
                        display.appendChild(h3);
                        display.dataset.id = resp[i].id;
                        console.log(resp[i]);
                        
                        h3.onclick = function(){
                            
                            //
                            var changePage = window.location.href = "./userProfile.html";
                            changePage.target = "_blank";
                        }

                    }
                }
            });    
        });
    </script>
</html>